$color-scheme: dark;
$body-background-color: #0d1117;
$sidebar-color:         #161b22;
$body-heading-color:    #e6edf3;
$body-text-color:       #c9d1d9;
$link-color:            #58a6ff;
$btn-primary-color:     #388bfd;
$nav-child-link-color:  #79c0ff;
$search-background-color: #161b22;
$code-background-color:  #161b22;
